
<% if @current_user %>
  <nav class="navbar">
      <a class="navbar-brand" href="/">Olá, <%= @current_user.name %></a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/invoices">Notas Fiscais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Usuários</a>
        </li>
          <li class="nav-item">
            <%= link_to "Logout", logout_path, method: :get, class: "btn btn-danger" %>
          </li>
      </ul>
  </nav>
<% end %>
